table{
    border-collapse: collapse;
}

td{
    border: 1px solid;
}

tr:nth-child(odd){
    color: lime;
    background-color: maroon;
    font-family: cursive;
    text-align: center;
    border: 1px solid;
}

tr:nth-child(even){
    color: yellow;
    background-color: blueviolet;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 35px;
    border: 1px solid;
}