@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(245, 208, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Figtree", sans-serif;
}

.main{
    height: 520px;
    width: 384px;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 0 black;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}

.img1{
    border-radius: 12px;
    padding-left: 22px;
    margin-top: 20px;
}

.main button{
    width: 81px;
    height: 27px;
    border: none;
    background-color: rgb(240, 209, 83);
    border-radius: 4px;
    font-weight: 800;
    font-size: 12px;
    margin-left: 22px;
}

.publish{
    font-size: 14px;
    margin-left: 22px;
}

.course{
    font-size: 24px;
    margin-left: 22px;
}

.info{
    color: rgb(141, 141, 141);
    line-height: 1.4;
    margin-left: 22px;
}

.profile{
    height: 40px;
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 23px;
}

.profile img{
    width: 31px;
    height: 32px;
}

.profile h1{
    font-size: 14px;
}