.div-1{
    display: flex;
    width: 400px;
    height: 200px;
    background-color: gray;
    border: 2px solid black;
}

.div-1 div{
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    background-color: blue;
}



.div-2{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    background-color: yellow;
    width: 500px;
    height: 250px;
    border: 2px solid red;
}

.div-2 div{
    margin: 15px;
    padding: 10px;
    font-size: 18px;
    background-color: green;
}



.div-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    width: 300px;
    height: 400px;
    border: 2px solid black;
}

.div-3 div{
    margin: 10px;
    padding: 8px;
    font-size: 14px;
    background-color: orange;
}



.div-4{
    display: flex;
    width: 350px;
    height: 300px;
    background-color: lime;
    border: 2px solid darkblue;
}

.div-4 div{
    flex-direction: column-reverse;
    padding: 12px;
    margin: 6px;
    font-size: 16px;
    background-color: blueviolet;
}



.div-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: lightgreen;
    border: 2px solid blue;
}
.div-5 div{
    padding: 15px;
    margin: 30px;
    font-size: 15px;
    background-color: coral;
}



.div-6{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 450px;
    height: 220px;
    background-color: lightyellow;
    border: 2px solid maroon;
}

.div-6 div{
    padding: 13px;
    margin: 40px;
    font-size: 25px;
    background-color: green;
}



.div-7{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: 300px;
    height: 350px;
    background-color: lightblue;
    border: 2px solid black;
}

.div-7 div{
    background-color: orange;
    padding: 20px;  
    margin: 20px; 
    font-size: 14px;
}



.div-8{
    display: flex;
    flex-direction: column-reverse; 
    justify-content: center;   
    align-items: center;  
    width: 350px;
    height: 300px;
    background-color: pink;
    border: 2px solid blue;
}

.div-8 div{
    background-color: violet;
    padding: 30px;  
    margin: 30px; 
    font-size: 16px;
}



.div-9{
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    width: 300px;
    height: 400px;
    background-color: red;
    border: 2px solid violet;

}

.div-9 div{
    background-color: skyblue;
    padding: 40px;   
    margin: 40px; 
    font-size: 15px;
}