@keyframes move{
    from {
        transform: translateX(0) scale(1);
        background: yellow;
    }

    to {
        transform: translateX(500px) scale(1.5);
        background: blue;
    }
}

.mze{
    width: 150px;
    height: 150px;  
    background: yellow;
    border-radius: 50%;
    animation: move 4s linear 2s 5 alternate;
}