@keyframes move{
    from {
        transform: translateX(0) scale(1);
        background: yellow;
    }

    to {
        transform: translateX(500px) scale(1.5);
        background: blue;
    }
}

.mze{
    width: 150px;
    height: 150px;  
    background: yellow;
    border-radius: 50%;
    animation: move 4s linear 2s 5 alternate;
}









@keyframes claswork{

    0% {
        border-radius: 0;
        background: green;
        transform: scale(1) rotate(0deg) translateY(0);
        box-shadow: none;
    }

    25% {
        border-radius: 10px;
        background: yellow;
        transform: scale(1.2) rotate(20deg) translateY(0);
        box-shadow: none;
    }

    50% {
        border-radius: 20px;
        background: red;
        transform: scale(1.5) rotate(50deg) translateY(100px);
        box-shadow: none;
    }

    75% {
        border-radius: 50px;
        background: blue;
        transform: scale(2) rotate(140deg) translateY(200px);
        box-shadow: none;
    }

    100% {
        border-radius: 50%;
        background: orange;
        transform: scale(1.5) rotate(180deg) translateY(400px);
        box-shadow: 0 0 25px orange;
    }
}

.box {
    width: 100px;
    height: 100px;
    background: green;
    animation: claswork 5s ease-in infinite alternate;
}