.div1{
    font-weight: 600;
}



.div1{
    font-weight: 100;
}

.div1{
    font-weight: 200;
}

.div1{
    font-weight: 300;
}

.div1{
    font-weight: 400;
}

.div1{
    font-weight: 500;
}

.div1{
    font-weight: 600;
}

.div1{
    font-weight: 700;
}

.div1{
    font-weight: 800;
}

.div1{
    font-weight: 900;
}



.ol1{
    font-weight: 600;
}

.ul1{
    font-weight: 700;
}



.ol2 {
    font-weight: 500;
}
        
.ul2 {
    font-weight: 200;
}



.table1 {
    font-weight: 900;
    color: rgb(0, 255, 0);
    font-size: 25px;
}



.table2{
    color: rgb(128, 0, 128);
    font-size: 30px;
}

.td1{
    color: rgb(0, 0, 255);
    border   : 2px solid rgb(225, 255, 0);
}



.div3 {
    background-color: rgb(200, 220, 240);
    color: rgb(50, 50, 50);
    border: 3px solid rgb(0, 100, 200);
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
}

.div4 {
    background-color: rgb(200, 220, 240);
    color: rgb(50, 50, 50);
    border: 3px solid rgb(0, 100, 200);
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0,);
    font-size: 16px;
    font-weight: 500;
}

.div5 {
    background-color: rgb(200, 220, 240);
    color: rgb(50, 50, 50);
    border: 3px solid rgb(0, 100, 167);
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
}   

.btn {
    background-color: rgb(200, 220, 240);
    color: rgb(50, 50, 50);
    border: 3px solid rgb(0, 100, 200);
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
}




















































