*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main{
    display: grid;
    border: 1px solid yellow;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px 60px;
    align-items: center;
    justify-items: center;
}

.red{
    background-color: red;
    height: 60%;
    width: 60%;
}