#div1{
    font-size: 30px;
    color: maroon;
    background-color: blue;
    text-align: center;
}

#div2 h2{
    color: darkblue;
}

#div3 h1{
    color: darkolivegreen;
    font-size: 28px;
}

#div4{
    background-color: navajowhite;
}

#div5{
    background-color: blueviolet;
}


#car1{
    color: red;
}

#car2{
    color: green;
}

#car3{
    color: blue;
}

#car4{
    color: orange;
}

#car5{
    color: purple;
}


#c1{
    color: red;
}

#c2{
    color: green;
}

#c3{
    color: blue;
}

#c4{
    color: orange;
}

#c5{
    color: purple;
}












