#div1{
    font-size: 30px;
    color: maroon;
    background-color: blue;
    text-align: center;
}

#div2 h2{
    color: darkblue;
}

#div3 h1{
    color: darkolivegreen;
    font-size: 28px;
}

#div4{
    background-color: navajowhite;
}

#div5{
    background-color: blueviolet;
}


#car1{
    color: red;
}

#car2{
    color: green;
}

#car3{
    color: blue;
}

#car4{
    color: orange;
}

#car5{
    color: purple;
}


#c1{
    color: red;
}

#c2{
    color: green;
}

#c3{
    color: blue;
}

#c4{
    color: orange;
}

#c5{
    color: purple;
}


#but1 {
    width: 200px;
    height: 100px;
    background-color: red;
}
#but2 {
    width: 250px;
    height: 150px;
    background-color: blue;
}
#but3 {
    width: 300px;
    height: 120px;
    background-color: green;
}


#tr1 {
    background-color: lightgray;
}

#tr2 {
    background-color: lightblue;
}

#tr3 {
    background-color: lightgreen;
}


