#p1{
    font-size: 28px;
    color: aqua;
}

#p2{
    font-size: 28px;
    color: rgb(255, 0, 0);
}

#p3{
    font-size: 28px;
    color: rgb(255, 0, 191);
}

#p4{
    font-size: 28px;
    color: rgb(0, 255, 42);
}

#p5{
    font-size: 28px;
    color: rgb(17, 0, 255);
}


#p6 i{
    font-size: 21px;
    background-color: blue;
}

#p7 i{
    font-size: 21px;
    background-color: rgb(0, 255, 42);
}

#p8 i{
    font-size: 21px;
    background-color: rgb(229, 255, 0);
}

















