p{
    text-decoration-line: overline underline line-through;
    text-decoration-color: rgb(255, 0, 0);
    text-decoration-style: wavy;

}

h1 {
    text-decoration-line: line-through;
    text-decoration-color: rgb(0, 0, 254);
    text-decoration-style: double;
}


h2 {
    text-decoration-line: overline;
    text-decoration-color: rgb(0, 255, 0);
    text-decoration-style: dotted;
}
