*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    height: 200px;
    width: 200px;
    position: relative;
}

.blue{
    background-color: blue;
    bottom: 40px;
    left: 120px;
    z-index: 1;
}

.red{
    background-color: red;
    z-index: 0;
}

.green{
    background-color: green;
    top: 60px;
    right: 120px;
    z-index: 2;
}