@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: "Inter", sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 100px;
}

nav{
    display: flex;
    align-items: center;
    gap: 25px;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 500;
}

button{
    width: 143px;
    height: 46px;
    border: none;
    background-color: rgb(76, 175, 79);
    color: white;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button img{
    width: 16px;
}

#burger{
    display: none;
}

.sect1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 101px 100px;
    background-color: rgb(245, 247, 250);
    position: relative;
}

.sect1 div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.sect1 h1{
    font-weight: 600;
    font-size: 60px;
    color: rgb(77, 77, 77);
}

.sect1 p{
    color: #717171;
    font-weight: 400;
    font-size: 17px;
}

#dots{
    position: absolute;
    bottom: 15px;
    left: 50%;
}

.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 101px 50px;
    gap: 20px;
}

.clients h2{
    font-weight: 600;
    font-size: 35px;
    color: #4D4D4D;
}

.clients p{
    font-weight: 400;
    font-size: 15px;
    color: #717171;
    text-align: center;
}

.clients .client_imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.sect2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.sect2 h2{
    font-weight: 600;
    font-size: 31px;
    color: #4D4D4D;
}

.sect2 p{
    font-weight: 400;
    font-size: 16px;
    color: #717171;
}

.sect2_divs{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 0px 30px;
}

.sect2_divs div{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 330px;
}

.sect2_divs img{
    width: 60px;
}

@media(max-width: 1400px){
    .client_imgs{
        padding: 0px 50px;
        flex-wrap: wrap;
    }
}

@media(max-width: 1100px){
    #firstimg{
        width: 300px;
    }
    
    .sect1 h1{
        font-size: 50px;
    }
}

@media(max-width: 1000px){
    header{
        padding: 21px 30px;
    }
    
    #mainimg{
        width: 120px;
    }
    
    .sect1{
        padding: 101px 30px;
    }
    
    .sect1 p{
        font-size: 14px;
    }
    
    .sect1 h1{
        font-size: 40px;
    }
    
    #firstimg{
        width: 250px;
    }
    
    #dots{
        width: 40px;
    }
    
}

@media(max-width: 750px){
    nav{
        display: none;
    }

    #burger{
        display: block;
    }

    .sect1{
        flex-direction: column;
        gap: 40px;
    }

    .sect1 div{
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .sect2 #community{
        font-size: 25px;
    }

    .sect2 #question{
        font-size: 14px;
    }
}

@media(max-width: 450px){
    .client_imgs{
        gap: 0px;
        padding: 0px;
    }

    .sect2 #community{
        width: 70%;
    }
}