.p1{
    color: red;
    font-size: 35px;
}

.p2{
    color: blue;
    font-size: 25px;
}

.p3{
    color: maroon;
    font-size: 15px;
}


#h1{
    font-size: 35px;
    color: maroon;
    background-color: coral;
    border: 4px solid black;
    text-align: center;
}

#p4{
    font-size: 25px;
    color: teal;
    background-color: cyan;
    border: 5px solid black;
    text-align: center;
}


#h11{
    font-size: 35px;
    color: red;
}

#h2{
    font-size: 35px;
    color: red;
}

#h3{
    font-size: 35px;
    color: red;
}

#h4{
    font-size: 35px;
    color: red;
}

#h5{
    font-size: 35px;
    color: red;
}

#h6{
    font-size: 35px;
    color: red;
}



#cpu{
    font-size: 35px;
    color: red;
}

#gpu{
    font-size: 35px;
    color: red;
}

#ram{
    font-size: 35px;
    color: red;
}

.mb{
    font-size: 35px;
    color: red;
}


.psu{
    font-size: 35px;
    color: red;
}

.cooler{
    font-size: 35px;
    color: red;
}














