body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 600px;
    height: 500px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main div{
    width: 200px;
    height: 180px;
    background-color: blue;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child{
    border: 2px solid green;
    position: relative;
    left: 105px;
    top: 65px;
}