@keyframes move{
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(500px);
    }
}

.box{
    width: 100px;
    height: 100px;
    background-color: red;
    animation: move 3s linear infinite;
}