@keyframes colorchange{
    from {
        background-color: red;
    }
    to {
        background-color: blue;
    }
}

.circle{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    animation: colorchange 2s forwards;
}