@keyframes btnscale{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;

    animation: fsddsfs ease-in-out infinite alternate;
}
