@keyframes move{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(1000px);
    }
}

.box{
    width: 100px;
    height: 100px;
    background: green;
    animation: move 3s linear 3s 5;
}