@keyframes moveup{
    from {
        transform: translateY(0);
        background: yellow;
    }
    to {
        transform: translateY(-250px);
        background: orange;
    }
}

.wre{
    width: 100px;
    height: 100px;
    background: yellow;
    border-radius: 50%;
    animation: moveup 4s forwards;
}