*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 1000vh;
}

div{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20%;
    position: fixed;
    bottom: 0px;
    right: 100px;
}

input{
    width: 300px;
    height: 300px;
    border-radius: 8px;
    font-size: 16px;
    background-color: blueviolet;
    color: blueviolet;
    border: none;
    outline: none;
}