header p{
    font-size: 45px;
    background-color: cyan;
    text-align: center;
    margin-top: 0%;
    border: 70px solid cyan;
}


.sec1{
    border: 3px solid cyan;
    width: 390px;
    height: 190px;
    margin-top: 5%;
    margin-left: 8%;
}

.sec1 h1{
    font-size: 30px;
    text-align: center;
    background-color: rgb(201, 201, 201);
    margin-top: 0%;
}

.sec1 p{
    font-size: 23px;
}


.sec2{
    display: inline-block;
    border: 3px solid cyan;
    width: 420px;
    margin-left: 39%;
    margin-top: 0%;
    font-size: 35px;
}

.sec2 h1{
    font-size: 46px;
    text-align: center;
    background-color: rgb(201, 201, 201);
}




.sec3{
    display: inline-block;
    border: 3px solid cyan;
    width: 350px;
    margin-left: 18%;
    margin-top: 4%;
}

.sec3 p{
    font-size: 23px;
}

.sec3 button {
    width: 100%;
    font-size: 16px;
    background-color: cyan;
    cursor: pointer;
}





















