header p{
    font-size: 45px;
    background-color: cyan;
    text-align: center;
    margin-top: 0%;
    border: 70px solid cyan;
}


.sec1{
    display: inline-block;
    border: 3px solid rgb(200, 200, 200);
    width: 350px;
    margin-left: 13%;
    margin-top: 6%;
}

.sec1 p{
    font-size: 23px;
}




























